{% include "./header.tmpl.html" %}

<h1>{{ party.name }}</h1>
<hr/>
{% for p in parties %}
    {% if not p == party %}
        <a href="{% url 'mpbio:party' p.id %}">{{ p.name }}</a></li>
    {% else %}
        {{ p.name }}
    {% endif %}
    {% if not forloop.last %} | {% endif %}
{% endfor %}
<hr/>

<form action={% url "mpbio:party" party.pk %} method="get">
    <input type="text" name="include_name" placeholder="Name filter" value="{{ inc_name }}" />
    <input type="text" name="include_occupation" placeholder="Beruf filter" value="{{ inc_occ }}" />
    <input type="submit" value="Filter" />
</form>

{% include "./people_table.tmpl.html" %}

{% include "./footer.tmpl.html" %}
